* {
  float: none;
  background: #fff;
  color: #000;
}

body { font-size: 80%; }
/*
     FILE ARCHIVED ON 12:36:05 Jun 29, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:17:27 Apr 17, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 75.953
  exclusion.robots: 0.093
  exclusion.robots.policy: 0.086
  RedisCDXSource: 0.611
  esindex: 0.007
  LoadShardBlock: 57.135 (3)
  PetaboxLoader3.datanode: 210.283 (5)
  CDXLines.iter: 15.965 (3)
  load_resource: 253.179 (2)
  PetaboxLoader3.resolve: 45.739 (2)
*/